# 1.3 Python *Lists*  

- [Creating a List](#Creating-a-List)  
- [List Indexes](#List-Indexes)
- [Appending values to a List](#Appending-values-to-a-List)  
- [Checking if a value is in a List](#Checking-if-a-value-is-in-a-List)  
- [Sorting a List](#Sorting-a-List)  
- [Formatting Dollar Amounts](#Formatting-Dollar-Amounts)
  
  
[In Class: Quarterly Sales List ](#In-Class:-Quarterly-Sales-List )  
[In Class: Sorting and Formatting](#In-Class:-Sorting-and-Formatting)  


[Exercise 1.3](#Exercise-1.3)

# Python Lists  
- A Variable contains a single value.  A List contains a collection of values.  
- We will use Lists all the time when working with data.  
- They are very similar to *Arrays* in Javascript.  
![Mailbox](Images/ListMailbox.png)

# Creating a List

In [ ]:
# Create a List named customer_names
customer_names = ["Janet Baker", 
                  "George Lee", 
                  "Sue Li", 
                  "Samuel Hoosier", 
                  "Sandra Weeks", 
                  "William Macy", 
                  "Andy Harrison", 
                  "Ken Ford", 
                  "Denny Franks",
                  "Shawn James"]

print(customer_names)

**Copy the following code into the code cell below and run it:**  
```SAS
exam_scores = [89, 93, 78, 92]

print(exam_scores)
```

In [ ]:
# Create a List with test scores in it named exam_scores
exam_scores = [89, 93, 78, 92]



# Display it 
print(exam_scores)

# List Indexes
Lists are indexed like the Javascript Arrays you used in Cis 240:  starting with zero.

In [ ]:
print(customer_names)

In [ ]:
# Display the first value in the customer_names List
customer_names[0]

In [ ]:
# Display the second value in the customer_names List

In [ ]:
print(exam_scores)

In [ ]:
# Display the first value in the exam_scores List

# In Class: Quarterly Sales List  
In the Code cells below, add the code needed to accomplish the following:

1. Declare a List named quarterly_sales and fill it with the following values: 300000, 400000, 1300000, 500000  
2. Display the filled List
3. Display the first element of the List  
4. Display the last element of the List  
5. Sum the values in the List and display the sum
6. Calculate the average of the values in the List and display it  
7. Display annual sales as a formatted dollar value with zero decimal places 
8. Display average sales as a formatted dollar value with two decimal places and explanation text

In [1]:
# 1. Declare a List named quarterly_sales and fill it with the following values: 300000, 400000, 1300000, 500000
quarterly_sales = [300000,
                  400000,
                  1300000,
                  50000]

In [2]:
# 2. Display the filled List
print (quarterly_sales)

[300000, 400000, 1300000, 50000]

In [3]:
# 3. Display the first element of the List
quarterly_sales[0]

300000

In [5]:
# 4. Display the last element of the List

quarterly_sales[3]

50000

In [8]:
# 5. Sum the values in the quarterly_sales List and assign the value to a variable named annual_sales

annual_sales = sum(quarterly_sales) 

# Display the annual_sales value
print(annual_sales)

2050000

In [41]:
# 6. Calculate the average sales and display the value
average_sales = annual_sales / 4
print(average_sales)

512500.0

# Appending values to a List

In [22]:
#Appending values to the customer_names List
customer_names = ["Sawyer Holcombe"]
customer_names.append("Dan Clapper")
customer_names.append("Anne Massey")

print(customer_names)

['Sawyer Holcombe', 'Dan Clapper', 'Anne Massey']

# Checking if a value is in a List  
- Use the *in* keyword 
- It will return True if it is in the List or False if it is not

In [23]:
print(customer_names)

['Sawyer Holcombe', 'Dan Clapper', 'Anne Massey']

**Copy the following code into the code cell below and run it:**  
```SAS
is_in_list = 'Ken Ford' in customer_names

print(is_in_list)
```

In [24]:
# Check if value is in the List

is_in_list = 'Ken Ford' in customer_names


# Display result
print(is_in_list)

False

# Sorting a List

### Sorting a List with String Values

In [25]:
print("List before Sorting:  ", customer_names)

List before Sorting:   ['Sawyer Holcombe', 'Dan Clapper', 'Anne Massey']

In [26]:
#Sorting a list (Ascending by default)
customer_names.sort()

print("List AFTER Sorting:  ", customer_names)

List AFTER Sorting:   ['Anne Massey', 'Dan Clapper', 'Sawyer Holcombe']

In [27]:
#Sorting a list: (Descending)
customer_names.sort(reverse=True)

print("List AFTER Sorting - Descending :  ", customer_names)

List AFTER Sorting - Descending :   ['Sawyer Holcombe', 'Dan Clapper', 'Anne Massey']

### Sorting a List with Numeric Values  
**Copy the following code into the code cell below and run it:**  
```SAS
full = [10.75, 20.0, 18.0, 11.25, 9.5]

print("Unsorted List: ", full)

full.sort()

print("Sorted List:  ", full)

full.sort(reverse=True)
print(full)
```

In [28]:
# Create a list named full with numeric values to sort

full = [10.75, 20.0, 18.0, 11.25, 9.5]
# Display List
print("Unsorted List: ", full)

# Sort List in ascending order (default)
full.sort()

# Display sorted list

print("Sorted List:  ", full)
# Sort List in descending order then display
full.sort(reverse=True)
print(full)

Unsorted List:  [10.75, 20.0, 18.0, 11.25, 9.5]
Sorted List:   [9.5, 10.75, 11.25, 18.0, 20.0]
[20.0, 18.0, 11.25, 10.75, 9.5]

# Formatting Dollar Amounts

In [29]:
salary = 80000

# Display salar formatted as dollars - with two decimal places
print('${:,.2f}'.format(salary))

# Display salary formatted as dollars - with zero decimal places
print('${:,.0f}'.format(salary))

# Display with text
print("The value for monthly_sales is: ", '${:,.2f}'.format(salary))

$80,000.00
$80,000
The value for monthly_sales is:  $80,000.00

# In Class: Sorting and Formatting

### List of Car Names

In [32]:
# Create a List named car_names with the following values:  Chevrolet, Ford, Toyota, Honda, Pontiac, BMW
car_names = [ "Chevrolet",
            "Ford",
            "Toyota",
            "Honda",
            "Pontiac"
            "BMW"]

# Display the List
print ("List BEFORE sorting: ", car_names)

# Sort the list and display it
car_names.sort()
print("List AFTER sorting: ", car_names)

# Sort the List (descending) and display it
car_names.sort(reverse=True)
print("List AFTER Decending Sorting: ", car_names)

List BEFORE sorting:  ['Chevrolet', 'Ford', 'Toyota', 'Honda', 'PontiacBMW']
List AFTER sorting:  ['Chevrolet', 'Ford', 'Honda', 'PontiacBMW', 'Toyota']
List AFTER Decending Sorting:  ['Toyota', 'PontiacBMW', 'Honda', 'Ford', 'Chevrolet']

### List of Temperatures

In [35]:
# Create a List named temps with the following values:  56, 67, 72, 84, 88, 70

temps = [56,
        67,
        72,
        84,
        88,
        70]
# Display the List
print(temps)


# Write code to determine which value is the highest and display it
temps.sort(reverse=True)
temps[0]

[56, 67, 72, 84, 88, 70]

88

# Exercise 1.3  

### Part 1: Monthly Sales
1. In the cell below, declare a List named **monthly_sales** and fill it with the following values:  
3,000  
10,000  
15,000  
20,000  
20,000  
25,000  
22,000  
80,000  
20,000  
20,000  
40,000  
60,000  

2. Display the filled List  
3. Sum the values in the List and assign the value to a variable named *annual_sales*. Display this as a formatted dollar amount, with no decimal places
4. Calculate the average and display it as a formatted dollar amount, with two decimal places.   
5. Sort the List with the highest value first and display the sorted List


Note:  I included commas above to make the values more readable, but don't include them in your List values in your code.

In [37]:
# 1. Create a List named monthly_sales
monthly_sales = [3000,
                10000,
                15000,
                20000,
                20000,
                25000,
                22000,
                80000,
                20000,
                20000,
                40000,
                60000]


# 2. Display the filled List
print(monthly_sales)

[3000, 10000, 15000, 20000, 20000, 25000, 22000, 80000, 20000, 20000, 40000, 60000]

In [ ]:
# 3. Sum the values in the List and assign the value to a variable named *annual_sales*. 
#   Display this as a formatted dollar amount, with no decimal places
annual_sales = sum(monthly_sales)

In [45]:
# 4. Calculate the average and display it as a formatted dollar amount, with two decimal places
count = len(monthly_sales)
average_sales = annual_sales / count
print('${:,.2f}'.format(average_sales))

$170,833.33

In [47]:
# 5. Sort the monthly_sales list and display the highest value first in the List

monthly_sales.sort(reverse=True)
print(monthly_sales)

[80000, 60000, 40000, 25000, 22000, 20000, 20000, 20000, 20000, 15000, 10000, 3000]

### Part 2: if Statement to Check if Name is in the List

In [58]:
# Hard-code a name that is NOT in the list
name_list = ["Sawyer Holcombe",
            "John Hancock"]
name_to_check = 'John Dedamist'

# Create an if statement to display whether it name_to_check value is in the List or not
is_in_list = 'John Dedamist' in name_list
print(is_in_list)


# If it IS, display: That name IS in the List!
if is_in_list == True:
    print("That name IS in the List!")
# If it is NOT, display: That name IS NOT in the List
if is_in_list == False:
    print("That name IS NOT in the list!")

False
That name IS NOT in the list!

In [59]:
# Hard-code a name that IS in the list
name_list = ["Sawyer Holcombe",
            "John Hancock",
            "Janet Baker"]
name_to_check = 'Janet Baker'

# Use the same if statement from the preceding code cell:

# Create an if statement to display whether it name_to_check value is in the List or not
is_in_list = 'Janet Baker' in name_list
print(is_in_list)


# If it IS, display: That name IS in the List!
if is_in_list == True:
    print("That name IS in the List!")
# If it is NOT, display: That name IS NOT in the List
if is_in_list == False:
    print("That name IS NOT in the list!")

True
That name IS in the List!

### Part 3: List of Favorite Fruits

In [63]:
# Prompt the user for a fruit that they like
fruit = input("Please Enter a Fruit that You Enjoy")

Please Enter a Fruit that You EnjoyBanana

In [64]:
# Declare a list with this fruit as the first element
fruit_list = [fruit]

# Display the List of favorite fruits
print(fruit_list)

['Banana']

In [65]:
# Prompt user for a fruit that they like
fruit_2 = input("Please Enter a Fruit that You Enjoy")

# Add that fruit to the List
fruit_list.append(fruit_2)

Please Enter a Fruit that You EnjoyOranges

In [66]:
# Display the List of favorite fruits
print(fruit_list)

['Banana', 'Oranges']

In [69]:
# Sort the List and display it
fruit_list.sort()
print(fruit_list)

['Banana', 'Oranges']

### Part 4: Adding new names to employee_names List  
1. Create a List named employee_names, with just the following name in it:  *Serena James* 
2. Display the List
3. Add the following names:  John Smith, Fred Martinez, Jane Miguel  
4. Display the List

In [70]:
# 1. Create a List named employee_names, with just the following name in it:  Serena James 
employee_names = ["Serana James"]

In [71]:
# 2. Display the employee_names List
print(employee_names)

['Serana James']

In [72]:
# 3. Add the following names:  John Smith, Fred Martinez, Jane Miguel 
employee_names.append("John Smith")
employee_names.append("Fred Martinez")
employee_names.append("Jane Miguel")

In [73]:
# 4. Display the employee_names List
print (employee_names)

['Serana James', 'John Smith', 'Fred Martinez', 'Jane Miguel']