# For Loops in Python  
A For Loop is most often used by us iterating through a List.  As you will see below, a Python For Loop has different syntax than a Javascript For Loop and it is much easier to use successfully.

- [Looping through a List of String Values](#Looping-through-a-List-of-String-Values)  
- [Looping through a List of Numeric Values](#Looping-through-a-List-of-Numeric-Values) 


- [In Class](#In-Class)
- [Exercise 1.4](#Exercise-1.4)

# Looping through a List of String Values  

**Enter the following code in the cell below and run:**  
```Python
customer_names = ["Janet Baker", "George Lee", "Sue Li", "Samuel Hoosier", "Sandra Weeks"]
print(customer_names)

for name in customer_names:
    print(name)
```

In [ ]:
#Create a List named customer_names
customer_names = ["Janet Baker", "George Lee", "Sue Li", "Samuel Hoosier", "Sandra Weeks"]
print(customer_names)


#Loop through the list and display all the names in it
for name in customer_names:
    print(name)

# Looping through a List of Numeric Values  
**Enter the following code in the cell below and run:**  
```Python
expenses = [100, 55, 255, 300]

total_expenses = 0

for expense in expenses:
    total_expenses = total_expenses + expense
    
print("total_expenses = ", total_expenses)  
```

In [5]:
# Create a List named expenses
expenses = [100, 55, 255, 300]

# Intialize the summing variable
total_expenses = 0

# Loop through the list and sum the values
for expense in expenses:
    total_expenses = total_expenses + expense
    
# Display total expense
print("total_expenses = ", total_expenses)

total_expenses =  710

# In Class

### In Class:  quarterly sales

In [3]:
# Create a List named quarterly_sales and fill it with the following values:  300000, 400000, 1300000, 500000 
quarterly_sales = [300000,
                  400000,
                  1300000,
                  500000]
# Display the List
print (quarterly_sales)

[300000, 400000, 1300000, 500000]

In [6]:
# Declare annual_sales variable and set it equal to zero
annual_sales = 0

#Loop through the list and sum the values: print the current annual_sales value every time through the loop

for sales in quarterly_sales:
    annual_sales = annual_sales + sales
    print("annual_sales = ", annual_sales)

annual_sales =  300000
annual_sales =  700000
annual_sales =  2000000
annual_sales =  2500000

In [7]:
#Display the sum - formatted as dollar amount with zero decimal places
print('${:,.2f}'.format(annual_sales))

$2,500,000.00

In [9]:
#Calculate the average of the values in the list
average_sales = annual_sales / len(quarterly_sales)

#Display the average - formatted as dollar amount with two decimal places
print (average_sales)

625000.0

In [10]:
# Using looping, display the highest sales value in the quarterly_sales List


# Intialize highest_value variable to zero
highest_value = 0

# Loop through the List and find the highest value
for sales_value in quarterly_sales:
    
    if sales_value > highest_value:
        highest_value = sales_value



# Display the entire List
print(quarterly_sales)

# Display the highest value in the List
print(highest_value)

[300000, 400000, 1300000, 500000]
1300000

In [11]:
# Using looping, display the lowest sales value in the List

# Intialize the lowest value variable
lowest_value = quarterly_sales[0]

# Loop through the List and find the lowest value
if sales_value < lowest_value:
    lowest_value = sales_value



# Display the entire List
print(quarterly_sales)

# Display the lowest value in the List
print(lowest_value)

[300000, 400000, 1300000, 500000]
300000

### In Class Questions:  
1. What are Lists?  
2. If we have dollar amounts in a List, at what point have we been formatting them?  
3. What is a Python For Loop?  
4. How is a Python For Loop different from a Javascript For Loop?  
5. How do the errors that you can do with a Javascript For Loop differen from the possible errors in a Python For Loop?

# Exercise 1.4

### Ex 1.4 - Part 1: Monthly Sales
1. Create a List named **monthly_sales** and fill it with the following values:  
3,000  
10,000  
15,000  
20,000  
20,000  
25,000  
22,000  
80,000  
20,000  
20,000  
40,000  
60,000  
Note:  I included commas above to make the values more readable.  Don't include them in your list values.

In [12]:
# Create a List named monthly_sales 
monthly_sales = [3000,
                10000,
                15000,
                20000,
                20000,
                25000,
                22000,
                80000,
                20000,
                20000,
                40000,
                60000]

In [13]:
#Loop through the monthly_sales List and display all of the values 
for sales in monthly_sales:
    print (sales)

3000
10000
15000
20000
20000
25000
22000
80000
20000
20000
40000
60000

In [16]:
#Loop through the list and sum the values
for sales in monthly_sales:
    annual_sales = annual_sales + sales
#Display the sum - formatted as dollar amounts with zero decimal places
print(annual_sales)

2835000

In [ ]:
#Calculate the average of the values in the list

#Display the average - formatted as dollar amounts with zero decimal places

In [ ]:
# The Monthly Sales quota is $20,000  
# Display the number of months the sales rep has exceded this Sales Quota

In [ ]:
# Using Looping, display the number of months the sales rep has Not exceded this Sales Quota

In [ ]:
# Using Looping, display the total sum of the amount for the year the sales rep has exceded the Sales Quota

### Ex 1.4 - Part 2:  Entertainment Expense Tracking
1. Create a List named entertainment_expenses and fill it with the folllowing values: 90, 150, 200, 90, 85, 130
2. You've decided that your target max for this category is $100 
3. Loop through the List and display the number of months that you exceded your target  
4. Loop through the List and display the total sum of how much you've exceded your target over these months     
6. Loop through the List and display for every time you've exceded your target:  
  2. The amount you exceded your target that month  
  3. The running total of the sum of how much you've exceded your target by that point in the year.  
  
**Notes:**  
- Each of the above top level numbered items should show up as a comment in its own code cell below.  
- The second level numbered items should show up as comments within a cell